

/*----------------------------------------------------Header */
header {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: auto;
        height: 80px;
        .container-logo {
            text-align: right;
            padding: 0 36px;
            img {
                width: 170px;
                height: 41px;
            }
        }
        .header-searcher {
            text-align: center;
            width: 718px;
            input {
                border: 0;
                outline: 0;
                border-bottom: 1px solid #7A7A7A;
                width: 670px;
                text-align: left;
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                color: #7A7A7A;
                margin: 20px;
            }
            img {
                width: 18px;
                height: 18px;
                position: absolute;
                right: 25%;
                top: 4%;
            }
        }
        .header-session {
            display: grid;
            grid-template-columns: 38% 38%;
            .account {
                width: 100px;
                height: 28px;
                display: inline-block;
                margin: 12px;
                img {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                }
                p {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 18px;
                    color: #7A7A7A;
                    text-align: center;
                    display: inline-block;
                }
            }
            .cart {
                display: grid;
                grid-template-columns: 35% 35%;
                img {
                    width: 18px;
                    height: 18px;
                    margin: 20px;
                }
                p {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 14px;
                    background: #F8475F;
                    border-radius: 20px;
                    width: 14px;
                    text-align: center;
                    color: white;
                    height: 14px;
                    margin-top: 22px;
                }
            }
        }
    }
    .container-mobile {
        display: none;
    }
}

/*----------------- Banner */

.banner {
    ul {
        list-style:none;
        padding: 0;
        li {
            display: grid;
            grid-template-columns: 50% 50%;
            height: auto;
            max-width: 100%;
            width: 100%;
            .slider-background-text {
                z-index: 999999999;
                .slider-text {
                    position: absolute;
                    width: 288px;
                    height: 147px;
                    left: 380px;
                    top: 100px;
                    p {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 41px;
                        color: #FFFFFF;
                        margin: 0;
                    }
                    h1 {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 41px;
                        color: #FFFFFF;
                        margin: 0;
                    }
                }
                .slider-background {
                    width: 108%;
                    z-index: 999999;
                }
            }
            .slider-image {
                height: 313px;
                width: 100%;
            }
        }
        .owl-dots {
            display: flex;
            position: absolute;
            top: 252px;
            left: 660px;
            .owl-dot {
                span {
                    background: #BDBDBD;
                }
            }
            .owl-dot.active {
                span {
                    background: #F8475F;;
                }
            }
        }
    }
    
}

/*------------------ Carrusel de productos */

.carousel {
    margin: 35px 220px;
    .bestSellers {
        h3 {
            font-family: Nunito;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            margin: 0;
        }
        h4 {
            border: 5px solid #C0C0C0;
            margin: 2px;
            width: 65px;
        }
        #navhere {
            position: relative;
            .owl-prev {
                position: absolute;
                left: -6%;
                z-index: 9999999;
                top: 200px;
                border: none;
                background: #ffffff;
                span {
                    transform: rotate(180deg);
                    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjExMTUgMTAuMTQxNkwzLjMyMTIgMC4zNTE0NjFDMy4wOTQ3NiAwLjEyNDg0NSAyLjc5MjQ5IDAgMi40NzAxOCAwQzIuMTQ3ODggMCAxLjg0NTYgMC4xMjQ4NDUgMS42MTkxNyAwLjM1MTQ2MUwwLjg5ODE4IDEuMDcyMjdDMC40MjkwMyAxLjU0MTk1IDAuNDI5MDMgMi4zMDUzMyAwLjg5ODE4IDIuNzc0M0w5LjExOTMyIDEwLjk5NTRMMC44ODkwNTggMTkuMjI1N0MwLjY2MjYyMSAxOS40NTIzIDAuNTM3NTk4IDE5Ljc1NDQgMC41Mzc1OTggMjAuMDc2NUMwLjUzNzU5OCAyMC4zOTkgMC42NjI2MjEgMjAuNzAxMSAwLjg4OTA1OCAyMC45Mjc5TDEuNjEwMDQgMjEuNjQ4NUMxLjgzNjY2IDIxLjg3NTIgMi4xMzg3NiAyMiAyLjQ2MTA2IDIyQzIuNzgzMzcgMjIgMy4wODU2NCAyMS44NzUyIDMuMzEyMDggMjEuNjQ4NUwxMy4xMTE1IDExLjg0OTVDMTMuMzM4NSAxMS42MjIyIDEzLjQ2MzEgMTEuMzE4NiAxMy40NjI0IDEwLjk5NkMxMy40NjMxIDEwLjY3MjEgMTMuMzM4NSAxMC4zNjg3IDEzLjExMTUgMTAuMTQxNloiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=);
                }
            }
            .owl-next {
                position: absolute;
                right: -6%;
                top: 200px;
                z-index: 9999999;
                border: none;
                background: #ffffff;
                span {
                    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjExMTUgMTAuMTQxNkwzLjMyMTIgMC4zNTE0NjFDMy4wOTQ3NiAwLjEyNDg0NSAyLjc5MjQ5IDAgMi40NzAxOCAwQzIuMTQ3ODggMCAxLjg0NTYgMC4xMjQ4NDUgMS42MTkxNyAwLjM1MTQ2MUwwLjg5ODE4IDEuMDcyMjdDMC40MjkwMyAxLjU0MTk1IDAuNDI5MDMgMi4zMDUzMyAwLjg5ODE4IDIuNzc0M0w5LjExOTMyIDEwLjk5NTRMMC44ODkwNTggMTkuMjI1N0MwLjY2MjYyMSAxOS40NTIzIDAuNTM3NTk4IDE5Ljc1NDQgMC41Mzc1OTggMjAuMDc2NUMwLjUzNzU5OCAyMC4zOTkgMC42NjI2MjEgMjAuNzAxMSAwLjg4OTA1OCAyMC45Mjc5TDEuNjEwMDQgMjEuNjQ4NUMxLjgzNjY2IDIxLjg3NTIgMi4xMzg3NiAyMiAyLjQ2MTA2IDIyQzIuNzgzMzcgMjIgMy4wODU2NCAyMS44NzUyIDMuMzEyMDggMjEuNjQ4NUwxMy4xMTE1IDExLjg0OTVDMTMuMzM4NSAxMS42MjIyIDEzLjQ2MzEgMTEuMzE4NiAxMy40NjI0IDEwLjk5NkMxMy40NjMxIDEwLjY3MjEgMTMuMzM4NSAxMC4zNjg3IDEzLjExMTUgMTAuMTQxNloiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=);
                }
            }
        }
        .carousel-products {
            width: 100%;
            height: 360px;
            margin: 0;
            li {
                list-style: none;
                width: 216px;
                height: 360px;
                margin: 20px 0;
                .image-product {
                    width: 216px;
                    height: 200px;
                }
                img.last-price {
                    position: absolute;
                    width: 82px;
                    height: 72px;
                    left: 60%;
                    top: 5%;
                }
                h2 {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #7A7A7A;
                    margin: 2px;
                }
                img {
                    width: 100%;
                    height: 10px;
                    justify-content: center;
                }
                .not-last-price {
                    opacity: 0;
                    height: 14px;
                }
                .last-price {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #7A7A7A;
                    height: 26px;
                    text-decoration-line: line-through;
                }
                h1 {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                    color: #000000;
                    margin: 0;
                }
                .not-installment {
                    opacity: 0;
                    height: 12px;
                    margin: 2px;
                }
                .installment {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 15px;
                    text-align: center;
                    color: #7A7A7A;
                    margin: 3px;
                    height: 12px;
                }
                button {
                    width: 125px;
                    height: 32px;
                    background: #000000;
                    margin: auto;
                    border: #000000;
                    border-radius: 5px;
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    justify-content: center;
                }
            }
        }
    }
}

/*----------------- Formulario de boletin */

.bulletin {
    background: #F2F2F2;
    height: 146px;
    h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        padding: 12px;
    }
    form {
        width: 62%;       
        margin: auto;
        ul {
            list-style:none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            li {
                input {
                    width: 280px;
                    height: 48px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    border-radius: 5px;
                }
                span {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    color: #D7182A;
                    display: none;
                }
                button {
                    background: #000000;
                    border-radius: 5px;
                    width: 140px;
                    height: 48px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 14px;
                    color: #FFFFFF;
                    border: #000000;
                }
            }
        }
        .acept-form {
            display: none;
            text-align: center;
            h1 {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 14px;
                color: #000000;
                margin: 0;
            }
            p {
                font-family: Lato;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                color: #000000;
                text-align: center;
                margin: 0;
            }
            button {
                background: #000000;
                border-radius: 5px;
                width: 328px;
                height: 48px;
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                border: #000000;
                margin: 14px;

            }
        }
    }
}

/*---------------------------- Footer*/  

footer {
    background: #000000;
    height: auto;
    .footer-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .footer-main-info {
            padding: 10px 100px;
            h2 {
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF;
            }
            .border {
                border-top: 5px solid #FFFFFF;
                width: 45px;
            }
            h4 {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 12px;
                color: #FFFFFF;
            }
        }
        .footer-main-contact {
            margin: 45px;
            .contact-mail-corebiz,
            .contact-number-corebiz {
                width: 195px;
                height: 38px;
                background: #FFFFFF;
                border-radius: 5px;
                margin: 25px;
                text-align: center;
                display: grid;
                grid-template-columns: 25% 70%;
                img {
                    width: 15px;
                    height: 19px;
                    margin: auto;
                }
                a {
                    text-decoration: none;
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #000000;
                    text-transform: uppercase;
                    width: 127px;
                    margin: auto;
                }
            }
        }
        .footer-main-copyright {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 50%;
            margin: 90px;
            p {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 10.6017px;
                line-height: 14px;
                color: #FFFFFF;
                margin: 0;

            }
        }
    }
}

/*----------------------------------Responsive*/
@media (max-width: 600px) {
   .container {
       display: none!important;
   }
   .container-mobile {
        display: grid!important;
        grid-template-columns: 1fr;
        .container-logo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .account {
                img {
                    margin: 18px;
                }
            }
            .cart {
                display: grid;
                grid-template-columns: 60% 40%;
                img {
                    width: 68px;
                    margin-top: 10px;
                    height: 25px;
                }
                p {
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 14px;
                    background: #F8475F;
                    border-radius: 20px;
                    width: 14px;
                    text-align: center;
                    color: white;
                    height: 14px;
                    margin-top: 15px;
                }
            }
        }
        .header-searcher {
            input {
                border: 0;
                outline: 0;
                border-bottom: 1px solid #7A7A7A;
                width: 80%;
                margin: 20px;
            }
            img {
                position: absolute;
                right: 15%;
                top: 8.5%;
            }
        }
   }

   
.banner {
    ul {
        list-style:none;
        padding: 0;
        li {
            display: flex;
            height: auto;
            max-width: 100%;
            width: 100%;
            .slider-background-text {
                z-index: 999999999;
                position: relative;
                .slider-text {
                    position: absolute;
                    width: 278px;
                    height: 132px;
                    left: 20px;
                    top: 112px;
                    z-index: 999999999999999999;
                    p {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 41px;
                        color: #FFFFFF;
                        margin: 0;
                    }
                    h1 {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 41px;
                        color: #FFFFFF;
                        margin: 0;
                    }
                }
                .slider-background {
                    display: none;
                }
            }
            .slider-image {
                width: 100%;
            }
        }
        .owl-dots {
            display: flex;
            position: absolute;
            top: 252px;
            left: 35%;
            .owl-dot {
                span {
                    background: #BDBDBD;
                }
            }
            .owl-dot.active {
                span {
                    background: #F8475F;;
                }
            }
        }
    }
    
}

.bulletin {
    height: auto;
    form {
        margin: auto;
        width: auto;
        ul {
            grid-template-columns: 1fr;
            li {
                button {
                    width: 288px;
                }
            }
        }
    }
}


.carousel {
    margin: 0;
    .bestSellers {
        #navhere {
            display: none;
        }
        .carousel-products {
            width: 100%;
            height: 360px;
            margin: 0;
            li {
                list-style: none;
                width: 200px;
                height: 360px;
                margin: 20px 0;
                .image-product {
                    width: 180px;
                    height: 200px;
                }
                h2 {
                    font-size: 10px;
                }
                button {
                    font-size: 18px;
                }
            }
            .owl-dots {
                display: flex;
                position: absolute;
                top: 252px;
                left: 660px;
                .owl-dot {
                    span {
                        background: #BDBDBD;
                    }
                }
                .owl-dot.active {
                    span {
                        background: #F8475F;;
                    }
                }
            }
        }
    }
}


footer {
    background: #000000;
    height: auto;
    .footer-main {
        display: grid;
        grid-template-columns: 1fr;
        .footer-main-info {
            padding: 10px 30px;
        }
        .footer-main-contact {
           margin: 0 16%;
        }
        .footer-main-copyright {
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-between;
        }
    }
}

}

@media (max-width: 320px) { 

    .container-mobile {
        .header-searcher {
            img {
                position: absolute;
                right: 15%;
                top: 9%;
            }
        }
   }

   
    .carousel {
        margin: 0;
        .bestSellers {
            .carousel-products {
                width: 100%;
                height: auto;
                margin: 0;
                li {
                    list-style: none;
                    width: 130px;
                    height: auto;
                    margin: 20px 0;
                    .image-product {
                        width: 120px;
                        height: 150px;
                    }
                    img.last-price {
                        width: 60px;
                        height: 50px;
                        left: 40%;
                        top: 7%;
                    }
                    h1 {
                        font-size: 15px;
                    }
                    h2 {
                        font-size: 7px;
                    }
                    .installment {
                        font-size: 10px;
                    }
                    button {
                        font-size: 18px;
                        width: 82%;
                    }
                }
            }
        }
    }

    
    .bulletin {
        height: auto;
        h1 {
            padding: 4px;
            width: 84%;
            font-size: 20px;
        }
        form {
            margin: auto;
            width: auto;
            ul {
                grid-template-columns: 1fr;
                li {
                    input {
                        width: 76%;
                    }
                    button {
                        width: 78%;
                    }
                }
            }
        }
    }

    footer {
        .footer-main {
            .footer-main-info {
                padding: 10px 0;
            }
            .footer-main-contact {
                margin: 0 5%;
            }
        }
    }    

}